.git
.vscode
web/node_modules
web/*.log
web/regression
web/**/tests/
official-pgadmin4/web/node_modules
official-pgadmin4/web/*.log
official-pgadmin4/web/regression
official-pgadmin4/web/**/tests/
.DS_Store